* {
  font: normal 14px Arial;
}

body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-gap: 1rem;

  grid-template-areas: 
      "header header"
      "nav main"
      "footer footer";
}

header {
  grid-area: header;
  padding: 60px;
  text-align: center;
  background: #2699FB;
  color: white;
  font-size: 30px;
}

nav {
  grid-area: nav;
  text-align: center;
  background: #BCE0FD
}

main {
  grid-area: main;
  background: #F1F9FF
  
}

footer {
  font: normal 14px Arial;
  grid-area: footer;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 52px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

.button {
  background-color: #7FC4FD;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.centered-heading {
  text-align: center
}

.flex {
  display: flex;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.founder-box {
  width: 250px;
	margin: 10px;
	padding: 10px;
  background: #7FC4FD;
  text-align: center;
  border-radius: 25px;
}

@media (max-width: 375px) {
  .founder-box {
    width: 160px;
  }
}
