<body>
    <header>
        <h1>Diabetes@Home</h1>
    </header>
    <nav>
        <a class="button" href='/'>Home</a>
    </nav>
    <main class="flex flex-space-around">
        <a class="button" href="/patient/login">Patient Login</a>
        <a class="button" href="/clinician/login">Clinician Login</a>
    </main>
    <footer>
        <h3>This website has been designed by SpiderWebProTech</h3>
    </footer>
</body>