<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/">Home</a>
  </nav>
  <main>
    <br />
    <div class="flex flex-space-around align-start flex-wrap">
      <a class="button" href="/patient/">Patient Login</a>
      <a class="button" href="/clinician/">Clinician Login</a>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>