* {
  font: normal 1rem Arial;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(4rem, 10vw) 90vw;
  grid-template-rows: 15vh 75vh 8vh;
  grid-gap: 1vh;

  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

header {
  grid-area: header;
  padding: 3vh;
  text-align: center;
  background: #2699fb;
  color: white;
}

nav {
  grid-area: nav;
  text-align: center;
  background: #bce0fd;
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
  background: #f1f9ff;
  overflow-y: auto;
}

footer {
  font: normal 1.2rem Arial;
  background: #7fc4fd;
  grid-area: footer;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

.text-danger {
  color: red;
}

.clinician-styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.clinician-styled-table thead tr {
  background-color: #7fc4fd;
  color: #ffffff;
  text-align: left;
}

.clinician-styled-table th,
.clinician-styled-table td {
  padding: 12px 15px;
}

.clinician-styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.clinician-styled-table tbody tr:nth-of-type(even) {
  background-color: #f1f9ff;
}

.clinician-styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #7fc4fd;
}

.shadow-box {
  width: fit-content;
  margin: 1rem 2rem;
  background-color: #bce0fd;
  padding: 1rem 2rem 1.5rem;
  border-radius: 4px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.form-line {
  width: auto;
  margin: 0.5rem 1rem;
  padding: 0.5rem 2rem 0.5rem;
  background-color: #f1f9ff;
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}

.form-line-field {
  width: auto;
  padding: 0.2rem 1rem;
  text-align: center;
}

.styled-form button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: #7fc4fd;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.15);
}

p {
  text-align: center;
}

.nav-button {
  background-color: #7fc4fd;
  border: none;
  color: white;
  padding: 15px;
  margin: 10px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.button {
  background-color: #7fc4fd;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.founder-box {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background: #7fc4fd;
  text-align: center;
  border-radius: 25px;
}

@media (max-width: 375px) {
  .founder-box {
    width: 160px;
  }
}
