<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/">Home</a>
    <a class="nav-button" href="/about-this-website">About Us</a>
    <a class="nav-button" href="/about-diabetes">About Diabetes</a>
  </nav>
  <main>
    <br />
    <div class="flex flex-space-around align-start flex-wrap">
      <a class="button" href="/patient/login">Patient Login</a>
      <a class="button" href="/clinician/login">Clinician Login</a>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>