<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/">Home</a>
  </nav>
  <main>
    <div class="flex flex-space-around">
      <form name="loginform" id="loginform" action="login" method="post">
        <div class="flex flex-column text-center">
          <br />
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" /><br />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" /><br />
          <input type="submit" value="Submit" />
          <br />
        </div>
      </form>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>