<body>
    <header>
        <h1>Diabetes@Home</h1>
    </header>
    <nav>
        <a class="button" href='/'>Home</a>
    </nav>
    <main>
    </main>
    <footer>
        <h3>This website has been designed by SpiderWebProTech</h3>
    </footer>
</body>