<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="button" href="/">Home</a>
  </nav>
  <main>
    <table>
      <tr>
        <th>Patient</th>
        <th>Blood Glucose</th>
        <th>Insulin Doses</th>
        <th>Weight</th>
        <th>Exercise</th>
        <th></th>
      </tr>
      {{#each patients}}
      <tr>
        <td>{{this.name}}</td>
      </tr>
      {{/each}}
    </table>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>