<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/logout">Logout</a>
    <a
      class="nav-button"
      href="/clinician/dashboard"
    >Dashboard</a>
  </nav>
  <main>
    <h3 class="text-center">Creating New Patient for {{clinician.name}}</h3>
    <div class="flex flex-space-around">
      <div class="shadow-box">
        <form
          class="styled-form"
          name="newpatientform"
          id="newpatientform"
          method="post"
        >
            <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">
                <label for="name">Name</label>
                    <input type="text" id="name" name="name"/>
                </div>
            </div>
            <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">
                <label for="screenName">Screen Name</label>
                    <input type="text" id="screenName" name="screenName"/>
                </div>
            </div>
            <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">
                <label for="email">Email</label>
                    <input type="text" id="email" name="email"/>
                </div>
            </div>
            <div class="flex flex-space-around flex-wrap form-line">
                <div class="flex flex-column form-line-field">
                <label for="bloodGlucose">Password</label>
                    <input type="password" id="password" name="password"/>
                </div>
            </div>
            <p>{{error}}</p>
            <button type="submit">Create Patient</button>
        </form>
      </div>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>