<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="button" href="/">Home</a>
    <a href="/patient/about-diabetes" class="button">About Diabetes</a>
  </nav>
  <main>
    <div>
      <h2 class="centered-heading">About this website</h2>
      <p>Diabetes@Home is a cutting edge health assistant that aids diabetic
        patients by keeping track of their long term health records. While also
        allowing easy communication with their clinicians, that can provide them
        with quick feedback on time sensitive health issues.</p>
    </div>
    <div>
      <h2 class="centered-heading">Our Mission </h2>
      <p>We at the Diabetes@Home believe that patients should have instant and
        consistent assistance and advice at their fingertips. Missed and
        mistimed insulin doses and the general monitoring of patients' health
        are imperative to winning the battle against diabetes. We know from
        evidence that when diabetes patients and clinicians communicate and
        monitor their health more frequently, the better the improvements are in
        one's condition. We want to make this a reality, and we hope that
        Diabetes@Home is a step in the right direction.</p>
    </div>
    <div>
      <h2 class="centered-heading">Our Founders</h2>
      <div class="flex flex-space-around flex-wrap">
        <div class="founder-box">
          <h3>Paul</h3>
          <p>I'm Paul, one of the four co-founders here at Diabetes@Home. I'm a
            current student and have being passionate about creating a better
            relationship between patients and their clinicians. This project
            provides a great base to hone my skills and to improve the lives of
            current diabetes patients!</p>
        </div>
        <div class="founder-box">
          <h3>Kevin</h3>
          <p>Hi I'm Kevin, I'm the founder of Diabetes@Home, I'm a commerce
            student, so I handle the business side of things because I love
            money, golf and working tirelessly to help people in need.</p>
        </div>
        <div class="founder-box">
          <h3>Able</h3>
          <p>Hey I'm Abel! We co-founded Diabetes@Home with the aim of ensuring
            patients and clinicians can communicate and monitor their health
            progress in an easy and comprehensive manner. We hope you enjoy the
            app and we welcome any feedback for improvements!</p>
        </div>
        <div class="founder-box">
          <h3>AKELS</h3>
          <p>I'm Lexi and along with the rest of the team at diabetes@home
            strive to make life simpler for those living with diabetes. I'm
            passionate about helping others and feel it is important for
            patients and clinicians to be able to communicate seamlessly so that
            managing diabetes can be as stress free as possible. We are always
            looking for ways to make our platform even more user friendly so
            please let us know if there is anything we can do to make your
            experience a better one!</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>