<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="nav-button" href="/logout">Logout</a>
    <a
      class="nav-button"
      href="/patient/dashboard"
    >Dashboard</a>
  </nav>
  <main>
    <h3 class="text-center">History for {{patient.name}}</h3>
    <div class="flex flex-space-around flex-wrap">
      <div class="vh60-scroll">
      <table class="clinician-styled-table">
        <thead>
          <tr>
              name
          </tr>
        </thead>
        <tbody>
          {{#each leaderboard}}
            <tr>
             <td>
                 {{this.screenName}}
             </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>
