<body>
  <header>
    <h1>Diabetes@Home</h1>
  </header>
  <nav>
    <a class="button" href="/">Home</a>
  </nav>
  <main>
    <form name="dayform" id="dayform" action="postday" method="post">
      <label for="hello">Hello:</label>
      <input type="text" id="hello" name="hello" /><br /><br />
    </form>
  </main>
  <footer>
    <h3>This website has been designed by SpiderWebProTech</h3>
  </footer>
</body>