<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="../base.css">
    </head>

    <body>
        <header>
            <h1> Diabetes@Home </h1>
        </header>
        <nav>
            <a href=about-diabetes.html class="button">About Diabetes</a>
        </nav>
        <main>
            <div>
                <h2 class="centered-heading">About this website</h2>
                <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
            </div>
            <div>
                <h2 class="centered-heading">Our Mission </h2>
                <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
            </div>
            <div>
                <h2 class="centered-heading">Our Founders</h1>
                <div class="flex flex-space-around flex-wrap">
                    <div class="founder-box">
                        <h3>Paul</h3>
                        <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
                    </div>
                    <div class="founder-box">
                        <h3>K-Dawg</h3>
                        <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
                    </div>
                    <div class="founder-box">
                        <h3>Lable</h3>
                        <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
                    </div>
                    <div class="founder-box">
                        <h3>AKELS</h3>
                        <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <h3>This website has been designed by SpiderWebProTech</h3>
        </footer>
    </body>

</html>