<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="../base.css">
    </head>

    <body>
        <header>
            <h1> Diabetes@Home </h1>
        </header>
        <nav>
            <a href=about-diabetes.html class="button">About Diabetes</a>
        </nav>
        <main>
            <div>
                <h2 class="centered-heading">About this website</h2>
                <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
            </div>
            <div>
                <h2 class="centered-heading">Our Mission </h2>
                <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
            </div>
            <div>
                <h2 class="centered-heading">Our Founders</h1>
                <div class="flex flex-space-around flex-wrap">
                    <div class="founder-box">
                        <h3>Paul</h3>
                        <p>I'm Paul, one of the four co-founders here at Diabetes@Home. I'm a current student and have being passionate about creating a better relationship between patients and their clinicians. This project provides a great base to hone my skills and to improve the lives of current diabetes patients!</p>
                    </div>
                    <div class="founder-box">
                        <h3>Kevin</h3>
                        <p>Hi I'm Kevin, I'm the founder of Diabetes@Home and I'm a commerce student. I handle the business side of things because I love money, golf and money laundering!</p>
                    </div>
                    <div class="founder-box">
                        <h3>Able</h3>
                        <p>Hey I'm Abel! We co-founded Diabetes@Home with the aim of ensuring patients and clinicians can communicate and monitor their health progress in an easy and comprehensive manner. We hope you enjoy the app and we welcome any feedback for improvements!</p>
                    </div>
                    <div class="founder-box">
                        <h3>AKELS</h3>
                        <p>I’m Lexi and along with the rest of the team at diabetes@home strive to make life simpler for those living with diabetes. I’m passionate about helping others and feel it is important for patients and clinicians to be able to communicate seamlessly so that managing diabetes can be as stress free as possible. We are always looking for ways to make our platform even more user friendly so please let us know if there is anything we can do to make your experience a better one!</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <h3>This website has been designed by SpiderWebProTech</h3>
        </footer>
    </body>

</html>