<!DOCTYPE html>
<html>
    <head>
        <title>About Diabetes</title>
        <link rel="stylesheet" href="/WebInfoTech/base.css">
    </head>

    <body>
        <header>
            <h1> Diabetes@Home </h1>
        </header>
        <nav>
            <a class="button" href=about-this-website.html>About Us</a>
        </nav>
        <main>
            <div>
                <h2 class="centered-heading">About Diabetes</h2>
                <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
            </div>
            <div>
                <h2 class="centered-heading">More Information </h2>
                <p>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p>
                <a href="https://en.wikipedia.org/wiki/Diabetes">More Information</a>
            </div>
            <div class="flex flex-space-around">
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/dgha9S39Y6M">
                </iframe>
            </div>
        </main>
        <footer>
            <p>Footer</p>
        </footer>
    </body>
</html>