<!DOCTYPE html>
<html>

<head>
    <title>About Diabetes</title>
    <link rel="stylesheet" href="../base.css" />
</head>

<body>
    <header>
        <h1>Diabetes@Home</h1>
    </header>
    <nav>
        <a class="button" href="about-this-website.html">About Us</a>
    </nav>
    <main>
        <div>
            <h2 class="centered-heading">About Diabetes</h2>
            <p>
                Diabetes is a chronic condition marked by high levels of glucose (sugar) in the blood. It is caused by
                the body being unable to produce insulin (a hormone made by the pancreas to control blood glucose
                levels) or to use insulin effectively, or both. The main types of diabetes are:
            <ul>
                <li>type 1 diabetes—an autoimmune disease that usually occurs in childhood or early adulthood
                </li>
                <li>
                    type 2 diabetes—the most common form of diabetes, generally occurring in adulthood. It is largely
                    preventable and is often associated with lifestyle factors such as insufficient physical activity,
                    unhealthy diet, obesity and tobacco smoking. Risk is also associated with genetic and family-related
                    factors
                </li>
                <li>gestational diabetes—when higher than normal blood glucose is diagnosed for the first time during
                    pregnancy</li>
                <li>other diabetes—a name for less common forms of diabetes resulting from a range of different health
                    conditions or circumstances. This includes diseases affecting the pancreas and endocrine system,
                    viral infections, genetic syndromes and in some cases diabetes triggered from medications needed to
                    manage or treat another health condition.
                    Treatment aims to maintain healthy blood glucose levels to prevent both short- and long-term
                    complications, such as heart disease, kidney disease, blindness and lower limb amputation. Insulin
                    replacement therapy is required by all people with type 1 diabetes, as well as by a proportion of
                    people with other forms of diabetes as their condition worsens over time.
                </li>
            </ul>
            </p>
        </div>
        <div>
            <h2 class="centered-heading">More Information</h2>
            <p> Diabetes is a chronic health conditions that can affect one’s entire body. It occurs when a person either has trouble producing enough insulin, or regulating the insulin it does produce that is need in order to control blood sugar. While at this time there is no cure for diabetes, there are ways it can be managed that can lead a person with this disease to live an enjoyable life.</p>
            <p>Diabetes can be broken down into 2 main types. Type 1 diabetes is thought to be caused by an autoimmune reaction (the body attacks itself by mistake) that stops your body from making insulin. It is often diagnosed early in life and can be managed by taking insulin everyday. Type 2 diabetes, your body doesn’t use insulin well and can’t keep blood sugar at normal levels. Type 2 diabetes often is diagnosed later in life and can be prevented or delayed with healthy lifestyle changes, such as losing weight, eating healthy food, and being active.</p>
            <a href="https://en.wikipedia.org/wiki/Diabetes">More Information</a>
        </div>
        <div class="flex flex-space-around">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wZAjVQWbMlE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </main>
    <footer>
        <h3>This website has been designed by SpiderWebProTech</h3>
    </footer>
</body>

</html>