<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="base.css">
    </head>
    <header>
        <h1>Diabetes@Home</h1>
        <p>LOGIN</p>
    </header>
    <body>
        <div>
            <div>
                <h1>About this website</h1>
                <p1>Velit in laborum exercitation dolor minim pariatur sit. Eiusmod culpa aliquip esse non minim ex Lorem veniam laboris laboris do do duis ea. Commodo commodo velit laborum laborum irure. Lorem qui esse non ipsum anim. Magna incididunt ad consequat elit cupidatat veniam esse excepteur consequat dolor quis laborum. Do sint eu do irure. Pariatur tempor anim sunt excepteur exercitation.</p1>
            </div>
            <div>
                <h1>YOU NEED TO BE LOGGED IN TO ACCESS THE FEATURES!!!!!!</h1>
            </div>
            <div>
                <h1>Our Mission </h1>
            </div>
            <div>
                <h1>Our Founders</h1>
            </div>
        </div>
    </body>
</html>